{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4"><span class="blue-text">Sign </span>In</h1>
        <p class="lead">If you have not created an account yet, then <a class="link blue-text"
            href="{{ signup_url }}">sign up</a> first</p>
        <hr class="my-4">
        <p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-blue btn-lg" type="submit">Sign In</button>
        </form>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}