{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="jumbotron">
                <h1><span class="blue-text">Sign </span>Out</h1>
                <p>Are you sure you want to sign out?</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-blue" type="submit">Sign Out?</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}