@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 8.5rem;
}

.blue-text {
    color: #23BBBB;
    font-weight: bolder;
}

.btn-blue {
    background-color: #23BBBB;
    color: #fff;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    padding: 2%;
    font-size: large;
    justify-content: center;
}

.navbar-nav li {
    text-align: center;
}

.tagline {
    margin-bottom: 0;
}

/* Main Page */

.row.background {
    --bs-gutter-x: 0;
}

.background {
    background-image: url(https://res.cloudinary.com/dhfp7asfd/image/upload/e_blur:100,o_48/v1690410296/desi_afternoon_tea_hgzfl8.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: #fff;
}

.snippet {
    margin-top: 10%;
    margin-left: 3%;
    color: #fff;
    text-align: center;
    font-size: 325%;
    width: 30%;
    height: auto;
    padding: 1rem;
    background-color: rgba(58, 58, 58, .7);
    position: absolute;
    justify-content: center;
}

/* Carousel */

.carousel-items {
    height: 44rem;
}

.carousel {
    height: 22rem;
    top: 30%;
    width: 90%;
    max-width: 40rem;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}

.lunch-carousel {
    top: -145px;
    height: 45rem;
    color: #fff;
}

.carousel-inner {
    position: absolute;
    top: 25%;
}

.lunch-control {
    bottom: 21rem;
}

/* Menus */

.menu-box {
    min-width: 80%;
}

.background-menu {
    max-width: 100%;
    background-image: url(https://res.cloudinary.com/dhfp7asfd/image/upload/v1690627748/desi-chai_nravas.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    background-color: #000;
    opacity: 0.8;
    padding: 2%;
}

.menu-items {
    font-weight: bolder;
    font-size: 100%;
    color: #fff
}

.menu-subtitle {
    padding-bottom: 1rem;
}

.sub-list {
    font-size: smaller;
    padding-top: 0;
    color: #23BBBB;
    list-style: none;
}

.key {
    bottom: 211px;
    position: absolute;
    font-size: 100%;
    color: #fff;
    padding: 0.5%;
    border-style: dotted;
}

#halal {
    padding-top: 1%;
    font-size: larger;
    font-weight: 900;
}

/* Booking */

.booking-form {
    width: 18rem;
}

/* Location */

iframe {
    border:0;
    width: 80%; 
    height: 450px;
}

.location-items {
    list-style: none;
}

.note {
    font-size: smaller;
}

.location {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

/* Card */

.card-body {
    border-style: solid;
    border-color: #23BBBB;
}

.close {
    background-color: none;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.social-networks {
    color: #23BBBB;
    list-style: none;
    text-align: center;
    padding: 0;
}

.social-networks > li {
    display: inline;
    padding: 0 1%;
}


/*--------Media queires-------------*/

/*--------Menu-------------*/
@media screen and (max-width: 992px) {

    .navbar-nav {
        text-align: center;
        padding-bottom: 2%;
    }

    .tagline {
        text-align: center;
    }

    .snippet {
        font-size: 200%;
        width: 60%;
    }

    .carousel-items {
        height: 31rem;
        margin-top: -7rem;
    }

    #halal {
        font-size: small;
        background-color: #000;
        opacity: 0.8;
        color: #fff;
        height: 1.5rem;
        margin: 0;
        width: -webkit-fill-available;
        text-align: center;
    }

    .background-menu{
        min-height: 61rem;
        max-width: 100%;
    }

    .menu-box {
        width: -webkit-fill-available;
    }

    .menu-title {
        font-size: x-large;
    }

    .menu-subtitle {
        font-size: inherit;
    }

    .menu-items p {
        font-size: small;
    }

    #panini p {
        margin-top: 3rem;
    }

    #salad p {
        margin: 3px;
        width: 100%;
    }

    .lunch-carousel {
        top: -242px;
        height: 60rem;
    }

    .lunch-control {
        bottom: 29rem;
    }

    .menu-subtitle {
        font-size: inherit;
        margin: 0;
        padding: 0;
    }

    #salad p {
        margin: 3px;
        width: 100%;
    }

    .key {
        bottom: 5.3rem;
        font-size: small;
        color: #000;
        border-style: dotted;
    }

    .carousel-menu {
        height: 425px;
        width: 90%;
    }

    .carousel-position {
        width: 95%;
    }
}