{% extends "base.html" %}

{% block content %}

<!-- Table booking section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col mt-5 ">
        <div id="book-table-jumbotron" class="jumbotron">
          <h3 class="display-4">Book <span class="blue-text">a</span> table</h3>
          <hr class="my-4 blue-text">
          <div class="row">
            <div class="col-md-6">
              <div class="card mt-4 booking-form">
                <div class="card-body card-height">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <p>
                        <button type="submit" class="btn btn-blue">Add A New Booking</button>
                      </p>
                    </div>
                  </form>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/email.js"></script>
</section>

{%endblock%}